version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./:/app/logs
      - ./static/avatars:/app/static/avatars
    depends_on:
      - mongo

  mongo:
    image: mongo
    #commented out cuz security risk jesse told us about
    #ports:
    #  - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
